---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { dateRange } from '@/utils/date'
import { getCollection } from 'astro:content'

const allwork = (await getCollection('work'))
  .sort((a, b) => {
    if (
      typeof a.data.dateEnd !== 'string' &&
      typeof b.data.dateEnd !== 'string'
    ) {
      return (
        new Date(b.data.dateEnd).valueOf() - new Date(a.data.dateEnd).valueOf()
      )
    }

    if (
      typeof a.data.dateEnd === 'string' &&
      typeof b.data.dateEnd !== 'string'
    ) {
      return -1
    }

    if (
      typeof a.data.dateEnd !== 'string' &&
      typeof b.data.dateEnd === 'string'
    ) {
      return 1
    }

    return (
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
    )
  })
  .slice(0, 3)

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  }),
)
---

<BaseLayout
  title="Supakarin Niansupornpun"
  description={siteConfig.description}
>
  <article class="prose">
    <h1 class="text-title animate">Peam1146</h1>
    <p class="animate">Supakarin Niansupornpun</p>
    <div class="space-y-16">
      <section class="animate">
        <p>
          I am an enthusiastic developer with a strong passion for driving
          positive change. My keen interest in cutting-edge technology fuels my
          desire to create solutions that cater to diverse demands. I constantly
          challenge myself to craft increasingly impactful innovations, always
          striving for personal and professional growth in the process.
        </p>
        <p>
          I belive that giving back to the community is the best way to grow and
          learn. I am passionate about contributing to the tech community, and
          sharing my knowledge with others. I am committed to fostering a
          collaborative and inclusive environment where everyone can thrive.
        </p>

        <!-- Qoute -->
        <blockquote>
          <p>
            So if givers are most likely to land at the bottom of the success
            ladder, who’s at the top—takers or matchers? Neither. When I took
            another look at the data, I discovered a surprising pattern: It’s
            the givers again. <br />
            ― Adam M. Grant, Give and Take: Why Helping Others Drives Our Success
          </p>
        </blockquote>
      </section>

      <section class="animate space-y-6">
        <div class="flex gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <a href="/work" class="leading-tight"> See all work </a>
        </div>
        <ul class="flex flex-col space-y-4 p-0 list-none">
          {
            work.map((entry) => (
              <li class="!pl-0 before:hidden">
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                {!entry.data.link ? (
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                ) : (
                  <a
                    href={entry.data.link}
                    target="_blank"
                    class="font-semibold text-black dark:text-white"
                  >
                    {entry.data.company}
                  </a>
                )}
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate">
        <p class="flex gap-x-4 gap-y-2 flex-wrap">
          {
            siteConfig.socialLinks.map((link) => (
              <a
                aria-label={link.text}
                href={link.href}
                target="_blank"
                class="prose-link"
              >
                <i class:list={[link.icon]} />
                {link.text}
              </a>
            ))
          }
        </p>
        <p>
          If you have any questions, please email me at
          <a
            prose-link
            aria-label={siteConfig.email}
            href={`mailto:${siteConfig.email}`}
          >
            {siteConfig.email}
          </a>.
        </p>
      </section>
    </div>
  </article>
</BaseLayout>
